body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

#wrapper {
  width: 1442px; }

h2 {
  font-size: 40px;
  text-transform: uppercase; }

h3 {
  font-size: 30px;
  text-transform: uppercase; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#top {
  background-color: #000000; }

#topMenu {
  float: left; }

#iconsOne {
  width: 110px; }
  #iconsOne img {
    max-width: 100%;
    width: 100%; }

#nav-list {
  list-style: none; }
  #nav-list li {
    float: left; }
  #nav-list li + li {
    margin-left: 45px; }
  #nav-list a {
    color: #ffffff;
    text-decoration: none; }

#slider img {
  max-width: 100%;
  width: 100%; }
