body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

#wrapper {
  max-width: 1440px; }

h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #ffffff; }

h3 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center; }

p {
  color: #ffffff;
  font-size: 18px; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

#top {
  width: 100%;
  background-color: #000000; }

#topMenu {
  float: left; }

#iconsOne {
  float: left;
  width: 110px; }
  #iconsOne img {
    max-width: 100%;
    width: 100%; }

#nav-list {
  list-style: none; }
  #nav-list li {
    float: left; }
  #nav-list li + li {
    margin-left: 45px; }
  #nav-list a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none; }

#slider img {
  max-width: 100%;
  width: 100%; }

@media (max-width: 1440px) {
  .img-all {
    padding: 0 6% 0 6%; }
  .img {
    width: 31.6%;
    padding: 0;
    float: left; }
  .img img {
    width: 100%; }
  .img a, .img img {
    display: block; }
  .img + .img {
    margin-left: 2.5%; } }

#aboutUs {
  background-image: url(../../img/bg.jpg); }

#iconsTwo {
  float: left;
  width: 50%; }
  #iconsTwo img {
    width: 203px;
    display: block;
    margin: auto; }

#paragraph {
  margin-top: 140px;
  float: left;
  width: 50%; }

#contact {
  background-color: #000000; }

#lowMenu li {
  margin: 50px 0 40px 0; }

#lowMenu img {
  display: block;
  margin: auto; }

@media (max-width: 1024px) {
  #nav-list {
    display: none; }
  .img {
    width: 47%;
    margin-top: 2.5%; }
  .img + .img {
    margin-left: 0; }
  .img a, .img img {
    display: block;
    margin: 0;
    padding: 0; }
  .marg {
    padding-left: 2%; } }

@media (max-width: 767px) {
  .img {
    width: 100%;
    padding: 0%;
    float: none; }
  .img a, .img img {
    display: block; }
  .img + .img {
    margin-left: 2.5%; } }
