@media(max-width: 1024px){

	#nav-list{
		display: none;
	}

	.img{
		width: 47%;
		margin-top: 2.5%;
	}

	.img + .img {
		margin-left: 0;
	}

	.img a, .img img{
		display: block;
		margin: 0;
		padding: 0;
	}

	.marg {
		padding-left: 2%;
	}

}