#aboutUs {
 background-image: url(../../img/bg.jpg);
}

#iconsTwo {
    float: left;
    width: 50%;

    img {
        width: 203px;
        display:block;
        margin:auto;
    }
}

#paragraph {
    margin-top: 140px;
    float: left;
    width: 50%;
}

