#aboutUs {
 background-image: url(../../img/bg.jpg);
}

#iconsTwo {
    float: left;
    width: 50%;

    img {
        width: 203px;
    }
}

#paragraph {
    float: left;
    width: 50%;
}

