body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    max-width: 1440px;
}

h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
}
h3 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 18px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }