@media(max-width: 1440px){

	.img-all {
		padding:0 6% 0 6%;
	}
	.img{
		width: 31.6%;
		padding: 0;
		float: left;
	}
	.img img {
		width: 100%;
	}
	.img a, .img img{
		display: block;
	}
	.img + .img {
		margin-left: 2.5%;
	}

}
